      </div>
    </main>
    <footer class="footer-copyright green">
      <div class="container">
        <div class="col s12">
          <div class="center white-text">
            {{ site.copyright }}
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/global.js" charset="utf-8"></script>
  </body>
</html>
